.content {
  padding: 10px 0;
  border: solid 1px;
}

.section-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.comment-list {
  margin: 15px 0;
  height: 600px;
  overflow: auto;
  border: solid 1px;
  border-radius: 5px;
}
