.wrapper {
  margin-left: 360px;
  padding: 15px 17px 40px 44px;
  height: 88%;
  min-height: calc(100vh - 135px);
}

.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100vh - 210px);
  border: 1px solid;
  margin: 0 15px;
}

.list-item {
  margin: 0;
}

.list-item-link {
  display: block;
  width: calc(100% - 32px);
  height: 30px;
  padding: 15px;
  text-decoration: none;
  color: #000;
  border: none;
  border-bottom: 1px solid;
}

.list-item-link:hover {
  background-color: #6750a4;
  color: #fff;
}

.list-item:last-child > .list-item-link {
  border: none;
}

.viewer {
  padding-left: 44px;
  margin-left: 360px;
  height: fit-content;
}

.viewer-title {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  background-color: #e6e0e9;
  height: 45px;
  border-bottom: solid 1px #baa6c4;
  border-radius: 4px 4px 0 0;
  margin: 20px 15px;
  line-height: 45px;
  text-indent: 15px;
  padding: 15px 0;
}

.viewer-content {
  margin: 15px;
  padding: 15px;
  height: calc(100vh - 240px);
  min-height: 500px;
  border: 1px solid #cbcbcb;
  overflow-y: auto;
  background-color: #fff;
}

.viewer-sub {
  margin: 20px;
}

.viewer-sub[open] {
  margin-top: 15px;
  background-color: #f7f2fa;
  padding-bottom: 15px;
  border: 1px solid #f7f2fa;
  border-radius: 8px;
}

.viewer-sub-summary {
  padding: 20px;
  margin: 15px 0 0;
  cursor: pointer;
  text-align: center;
  background-color: #f7f2fa;
  border: 1px solid #f7f2fa;
  border-radius: 8px;
}

.viewer-sub[open] > .viewer-sub-summary {
  padding: 0;
  margin: 15px 15px;
}

.viewer-sub-summary:hover {
  background-color: #e6e0e9;
}

.curriculum-content-viewer {
  margin: 20px;
}

.curriculum-content-viewer[open] {
  margin-top: 15px;
  background-color: #e6e0e9;
  padding-bottom: 15px;
  border: 1px solid #e6e0e9;
  border-radius: 8px;
}

.curriculum-content-summary {
  padding: 20px;
  margin: 15px 0 0;
  cursor: pointer;
  background-color: #a991e8;
  border: 1px solid #a991e8;
  color: #000;
  border-radius: 8px;
  font-size: 1.5em;
}

.curriculum-content-summary::marker {
  content: "";
}

.curriculum-content-viewer[open] > .curriculum-content-summary {
  padding: 5px 0;
  margin: 0;
  border: none;
  background-color: #e6e0e9;
  color: #e6e0e9;
  border-radius: 8px 8px 0 0;
  text-align: center;
  font-size: 0;
}

.curriculum-content-viewer[open] > .curriculum-content-summary::marker {
  content: "접기";
  color: #000;
  font-size: 1rem;
}

.curriculum-content-summary:hover {
  background-color: #cbb7ff;
}

.curriculum-content-viewer[open] > .curriculum-content-summary:hover {
  background-color: #d4cbd9;
  color: #d4cbd9;
}

.curriculum-content-title {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  background-color: #d4cbd9;
  height: 45px;
  border-bottom: solid 1px #baa6c4;
  border-radius: 4px 4px 0 0;
  margin: 20px 15px;
  line-height: 45px;
  text-indent: 15px;
  padding: 15px 0;
}

.mission-submit {
  margin-top: 15px;
}

.mission-submit[open] {
  background-color: #d4cbd9;
  padding-bottom: 15px;
  margin: 5px;
  border-radius: 8px;
}

.mission-submit-summary {
  width: 50%;
  margin: auto;
  padding: 15px;
  background-color: #6750a4;
  border: 1px solid #6750a4;
  border-radius: 50px;
  color: #fff;
  text-align: center;
}

.mission-submit-summary:hover {
  background-color: #7965af;
}

.mission-submit[open] > .mission-submit-summary {
  padding: 5px 15px;
  background-color: #d4cbd9;
  border-color: #d4cbd9;
  color: #000;
  width: calc(100% - 30px);
  border: none;
  border-radius: 8px 8px 0 0;
}

.mission-submit[open] > .mission-submit-summary:hover {
  background-color: #c5bacb;
}

.mission-submit-summary::marker {
  content: "제출하기";
}

.mission-submit[open] > .mission-submit-summary::marker {
  content: "제출 접기";
}

.mission-submit-content {
  margin: 15px;
  height: 600px;
  min-height: 500px;
  border: 1px solid #cbcbcb;
  background-color: #fff;
}

.mission-summary-title {
  margin: 0;
}

.mission-status {
  font-size: 15px;
  margin: 0;
}

.header1 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 15px;
}

.header2 {
  display: block;
  font-size: 1.25em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 15px;
  color: #6c3890;
}

.header3 {
  display: block;
  font-size: 1.125em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 15px;
  color: #6c3890;
}

.header4 {
  display: block;
  font-size: 1.1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 15px;
  color: #6c3890;
}

.button1 {
  margin: 15px 10px;
  border: solid 1px #6750a4;
  background-color: #6750a4;
  list-style-type: none;
  border-radius: 100px;
  height: 40px;
  padding: 0 24px;
  color: #fff;
  font-size: 16px;
}

.button1:hover {
  background-color: #7965af;
}

.button1:active {
  background-color: #f7f2fa;
  color: #8b78b9;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
