.mission-list-wrapper {
    padding: 15px 17px 5px 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.mission-link-wrapper {
    text-decoration: none;
}

.mission-wrapper {
    cursor: pointer;
    border: solid 1px #cac4d0;
    border-radius: 12px;
    background-color: #fcfcfc;
}

.mission-title {
    margin: 0;
    padding: 10px 7px;
    color: #1d1b20;
}

.mission-author {
    margin: 0;
    padding: 10px 7px;
    color: #49454f;
    font-size: 14px;
    display: flex;
}

.mission-content {
    margin: 5px;
    padding: 16px;
    color: #49454f;
    border: solid 1px #cac4d0;
    border-radius: 12px;
    font-size: 14px;
    background-color: #fef7ff;
}