.wrapper {
  margin-left: 360px;
  padding: 15px 17px 40px 44px;
  height: 88%;
  min-height: calc(100vh - 135px);
}

/* from mission */
.section-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.comment-list {
  height: 600px;
  overflow: auto;
  padding: 7px 15px 15px;
}

.make-new-wrapper {
  padding-left: 44px;
  margin-left: 360px;
  height: 100vh;
}

.make-new-button {
  margin: 0 10px;
  border: solid 1px #6750a4;
  background-color: #6750a4;
  list-style-type: none;
  border-radius: 100px;
  height: 40px;
  padding: 9.2px 24px;
  color: #fff;
  font-size: 16px;
}

.make-new-button:hover {
  background-color: #7965af;
}

.make-new-button:active {
  background-color: #f7f2fa;
  color: #8b78b9;
}

.make-new-header-area {
  display: flex;
  flex-direction: column;
  padding: 15px 45px 0 15px;
  gap: 7px;
}

.make-new-header-area>input {
  width: 100%;
  height: 77px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #cfbcda;
  border-radius: 4px 4px 0 0;
  text-indent: 15px;
  font-size: 3em;
  background-color: #e6e0e9;
}

.make-new-header-area>input:focus {
  outline: none;
}

.make-new-header-area>select {
  width: 100%;
  height: 65px;
  padding: 1px 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #cfbcda;
  border-radius: 4px 4px 0 0;
  text-indent: 7px;
  font-size: 1.5em;
  background-color: #e6e0e9;
  display: none;
}

.make-new-content-area {
  padding: 7px 15px 15px;
  padding-right: 45px;
  height: Calc(100vh - 270px);
}

.make-view-wrapper {
  margin-left: 360px;
  padding: 15px 17px 40px 44px;
  height: calc(100vh - 135px);
}

.make-view-title {
  margin: 15px;
  background-color: #e6e0e9;
  height: 45px;
  border-bottom: solid 1px;
  border-radius: 4px 4px 0 0;
}

.content {
  margin: 25px 15px 0;
  padding: 10px 15px;
  height: calc(100% - 107px);
  background-color: #fff;
  border: solid 1px #e6e2e6;
  border-radius: 5px;
  overflow-y: auto;
  min-height: min-content;
}

.make-submit-wrapper {
  margin-left: 360px;
  padding: 15px 17px 40px 44px;
  height: calc(100vh - 55px);
}

.make-submit-wrapper>h1 {
  margin: 0;
  height: 50px;
  padding: 0 0 15px 15px;
}

.make-submit-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 44px;
  margin: 0 15px;
  height: calc(100% - 81px);
  overflow-y: auto;
  border: 1px solid;
  border-radius: 5px;
}

.make-submit-item {
  margin: 0;
  height: 30px;
  padding: 7px 8px;
  border-bottom: 1px solid;
}

.make-submit-item-vertical-center {
  display: flex;
  align-items: center;
}

.make-submit-list> :nth-child(-n + 7) {
  border-left: 1px solid;
}

.make-submit-list> :first-child {
  border-left: none;
}

.make-submit-item-button {
  width: 150px;
  align-self: center;
  justify-self: center;
}

.form-wrapper {
  padding-left: 44px;
  margin-left: 360px;
  height: 100vh;
}

.form-button-area {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 15px 15px 15px 0;
}

.form-button {
  margin: 0 10px;
  border: solid 1px #6750a4;
  background-color: #6750a4;
  list-style-type: none;
  border-radius: 100px;
  height: 40px;
  padding: 0 24px;
  color: #fff;
  font-size: 16px;
}

.form-button:hover {
  background-color: #7965af;
}

.form-button:active {
  background-color: #f7f2fa;
  color: #8b78b9;
}

.form-content-area {
  padding: 7px 15px 15px;
  padding-right: 45px;
  height: Calc(100vh - 270px);
}

.make-submit-content-area {
  height: Calc(100vh - 105px);
}

.make-view-title-no-background {
  background-color: transparent;
  border: none;
}

.make-comment {
  height: 300px;
}

.form-button-end {
  justify-content: flex-end;
}

.content-navigation {
  display: flex;
  justify-content: flex-end;
}

/* from make */
.make-edit-wrapper {
  padding-left: 44px;
  margin-left: 360px;
  height: 100vh;
}

.make-edit-header-area {
  display: flex;
  flex-direction: column;
  padding: 15px 45px 0 15px;
  gap: 7px;
}

.make-edit-header-area> :first-child {
  width: 100%;
  height: 77px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #cfbcda;
  border-radius: 4px 4px 0 0;
  text-indent: 15px;
  font-size: 3em;
  background-color: #e6e0e9;
}

.make-edit-header-area> :first-child:focus {
  outline: none;
}

.make-edit-header-area> :nth-child(2) {
  width: 100%;
  height: 62px;
  padding: 1px 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #cfbcda;
  border-radius: 4px 4px 0 0;
  text-indent: 15px;
  font-size: 1.5em;
  background-color: #e6e0e9;
}

.make-edit-reference-area {
  padding: 15px 45px 15px 15px;
}

.make-edit-reference-button-area {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 0 15px 0;
}

.make-edit-reference-button-area>button {
  margin: 0 10px;
  border: solid 1px #6750a4;
  background-color: #6750a4;
  list-style-type: none;
  border-radius: 100px;
  height: 40px;
  padding: 0 24px;
  color: #fff;
  font-size: 16px;
}

.make-edit-reference-button-area>button:hover {
  background-color: #7965af;
}

.make-edit-reference-button-area>button:active {
  background-color: #f7f2fa;
  color: #8b78b9;
}

.make-edit-content-area {
  padding: 15px 45px 15px 15px;
  height: calc(100vh - 790px);
  min-height: 500px;
}

.make-edit-button-area {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 15px;
}

.make-edit-button {
  margin: 0 10px;
  border: solid 1px #6750a4;
  background-color: #6750a4;
  list-style-type: none;
  border-radius: 100px;
  height: 40px;
  padding: 0 24px;
  color: #fff;
  font-size: 16px;
}

.make-edit-button:hover {
  background-color: #7965af;
}

.make-edit-button:active {
  background-color: #f7f2fa;
  color: #8b78b9;
}

.make-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100vh - 124px);
  min-height: 600px;
  border: 1px solid;
  margin: 0 15px;
}

.make-list-item {
  margin: 0;
}

.make-list-item>a {
  width: calc(100% - 32px);
  height: 30px;
  padding: 15px;
  text-decoration: none;
  color: #000;
  border: none;
  border-bottom: 1px solid;
}

.make-list-item>a:hover {
  background-color: #6750a4;
  color: #fff;
}

.make-list-item:last-child>a {
  border: none;
}

.title {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  background-color: #e6e0e9;
  height: 45px;
  border-bottom: solid 1px;
  border-radius: 4px 4px 0 0;
  margin: 20px 15px;
  line-height: 45px;
}

.title-label {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 15px;
}

.make-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.make-item-nick {
  font-size: 0.5em;
  padding: 7px 0;
}